footer{
	width:100%;
	position: fixed;
	bottom:0;
	left:0;
	box-shadow: 0 -2px 15px rgba(0,0,0,0.6);
	background:#000;
	z-index:10;
	.iconBox{
		text-align: center;
		padding: 10px 0;
	}
	.iconfont{
		font-size: 25px;
		color:#fff;
	}
	h6{
		text-align: center;
		color:#fff;
	}
	.now{
		background:#444;
	}
	nav:active{
		background:#3d3d3d;
	}
	a{
		color:transparent;
	}
	a:focus,a:hover{
		color:transparent;
	}
	
}